*{
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

b, strong{
    font-weight: bold;
}

i, em{
    font-style: italic;
}

u{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: rgb(33, 9, 241);
}

input, button, textarea, select{
    font-size: inherit;
    font-family: inherit;
}

.contain{
    margin: 44px auto;
    max-width: 968px;
}

/*==== Css CV ====*/

.heading{
    font-size: 36px;
    text-align: center;
}

.heading__2{
    position: relative;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}

.heading__underline{
    margin-top: 36px;
}

.heading__underline::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    bottom: -10px;
    left: 0;
}

.info{
    margin-top: 12px;
    text-align: center;
    color: #000;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    position: relative;

    
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
}

.phone__number::before{
    position: absolute;
    content: "";
    background: #000;
    width: 1px;
    height: 14px;
    left: 377px;
    bottom: 0px;
}

.phone__number::after{
    position: absolute;
    content: "";
    background: #000;
    width: 1px;
    height: 14px;
    left: 478px;
    bottom: 0px;
}

.heading__job{
    position: relative;
}

.heading__job::after{
    position: absolute;
    content: "";
    width: 2px;
    height: 16px;
    background: #000;
    right: -10px;
    bottom: 0px;
}

.info__job{
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.job{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.list{
    margin-top: 22px;
}

.item{
    position: relative;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    margin-left: 22px;
    text-align: justify;
}

.item::after{
    position: absolute;
    content: "";
    background: #000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 8px;
    left: -22px;
}

.education{
    margin-top: 28px;

    display: flex;
    gap: 18px;
    align-items: center;

    
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
}

.degree{
    font-weight: 700;
}

/*==== Css Menu ====*/
 
.navbar{
    margin-top: 8px;
    background: #3a60c7;
}

.list__menu{
    margin: 0 auto;
    max-width: 1140px;

    display: flex;
    align-items: center;
}

.item__menu{
    display: inline-block;
    padding: 30px 24px;
    
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: #fff;

    
}

.item__menu:hover{
    background: #fff;
    color: #000;

    
    padding: 30px 24px;
}

/*==== Css Form ====*/

.contain__form{
    padding: 40px 0;
    width: 366px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #23ceb8;
}

.form{
    margin-top: 42px;
    padding: 0 84px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
}

.form__text, .form__input{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

.form__input{
    margin-top: 4px;
    outline: none;
    border-radius: 6px;

    padding: 4px 4px;
}

.gender{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button{
    margin-top: 40px;
    width: 192px;
    height: 40px;
    background: #ffc52a;
    border: none;
    border-radius: 20px;
}